body {
    background: url('images\ \(14\).jpeg');
   background-position: center;
   background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px;
    align-items: center;
}

header {
    background-color: rgb(226, 183, 43);
    color: white;
    padding: 10px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .AuchiPoly{
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 20px;
    background-color: red;
}

header .AuchiPoly img {
    width: 150px;
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.odfel {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.online {
    background-color: wheat;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    width: 500px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;

}

.okay {
    background-image: url(images\ \(47\).jpeg);
    opacity: 0.9;
    padding: 20px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}

.h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}

.more {
   text-align: center;
}

.bout {
    background-color: rgb(26, 185, 185);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.video-container {
    display: flex;
    width: 100%;
    max-width: 80%;
}

video {
    max-width: 100%;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    
}
.about p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    justify-content: center;
}

.about img {
    display: flex;
    align-items: center;
    width: 600px;
    height: 200;
    margin: 0 auto;
    
    
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}